body {
    background: #EEF1F4;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

header,
footer,
.content-wrapper {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.content-wrapper {
    background-color: #fff;
    border-radius: 5px;
}

header .cart {
    float: right;
}

/* page category */
.categorybox .boximg img {
    max-width: 100%;
}

.product-items {
    display: flex;
    flex-wrap: wrap;
}

.product-items .item-box {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 50%;
}

.product-items .item-box .item-image,
.product-items .item-box .item-info {
    padding: 10px;
    text-align: center;
}

.product-items .item-box .item-image img {
    max-width: 100%;
}

/* page detail */
.page-detail .detail-image img {
    width: 100%;
}

.page-detail .content-wrapper {
    display: flex;
    flex-direction: row;
}

/* page cart */
.tproduct {
    text-align: left;
}

.ttotal {
    text-align: right;
    padding-right: 20px;
}

.cart-product-info-wrapper {
    display: flex;
}

.cart-product-image {
    width: 20%;
}

.cart-product-image img {
    width: 100%;
}

footer {
    text-align: center;
}